In [1]:
import napari
from spatialdata.datasets import BlobsDataset

In [2]:
sdata = BlobsDataset(length=512, n_channels=5).blobs()
sdata

/opt/homebrew/Caskroom/mambaforge/base/envs/harpy/lib/python3.10/site-packages/anndata/_core/anndata.py:522: FutureWarning: The dtype argument is deprecated and will be removed in late 2024.
  warnings.warn(
/opt/homebrew/Caskroom/mambaforge/base/envs/harpy/lib/python3.10/site-packages/spatialdata/_core/operations/aggregate.py:241: UserWarning: Converting `region_key: region` to categorical dtype.
  table = TableModel.parse(table, region=shapes_name, region_key=region_key, instance_key=instance_key)

SpatialData object with:
├── Images
│     ├── 'blobs_image': SpatialImage[cyx] (5, 512, 512)
│     └── 'blobs_multiscale_image': MultiscaleSpatialImage[cyx] (5, 512, 512), (5, 256, 256), (5, 128, 128)
├── Labels
│     ├── 'blobs_labels': SpatialImage[yx] (512, 512)
│     └── 'blobs_multiscale_labels': MultiscaleSpatialImage[yx] (512, 512), (256, 256), (128, 128)
├── Points
│     └── 'blobs_points': DataFrame with shape: (<Delayed>, 4) (2D points)
├── Shapes
│     ├── 'blobs_circles': GeoDataFrame shape: (5, 2) (2D shapes)
│     ├── 'blobs_multipolygons': GeoDataFrame shape: (2, 1) (2D shapes)
│     └── 'blobs_polygons': GeoDataFrame shape: (5, 1) (2D shapes)
└── Table
      └── AnnData object with n_obs × n_vars = 26 × 5
    obs: 'instance_id', 'region'
    uns: 'spatialdata_attrs': AnnData (26, 5)
with coordinate systems:
▸ 'global', with elements:
        blobs_image (Images), blobs_multiscale_image (Images), blobs_labels (Labels), blobs_multiscale_labels (Labels), blobs_points (Points), blobs_circles (Shapes), blobs_multipolygons (Shapes), blobs_polygons (Shapes)

In [3]:
adata = sdata.table
adata

AnnData object with n_obs × n_vars = 26 × 5
    obs: 'instance_id', 'region'
    uns: 'spatialdata_attrs'

In [4]:
df = adata.to_df()
# add label column for napari-cluster-plotter
# TODO: remove this fix when napari-cluster-plotter is fixed (it should use the index as the label by default)
df["label"] = df.index
df

,channel_0_sum,channel_1_sum,channel_2_sum,channel_3_sum,channel_4_sum,label
1,1309.369255,1587.864182,3125.119086,2101.869588,1615.338715,1
2,1535.995388,2104.444293,1442.676798,2181.476226,978.794226,2
3,855.965478,1020.109964,1484.683990,678.738628,145.714070,3
4,614.497990,477.878864,558.972428,769.811884,131.799004,4
5,212.404587,386.979736,725.867322,606.159633,855.782823,5
6,482.633650,306.519032,542.776444,411.027409,726.430507,6
8,518.004680,595.334537,1416.084755,414.136590,628.841543,8
9,258.186892,549.666148,140.929565,379.397136,106.881360,9
10,159.661750,181.778253,279.073745,289.026634,335.117587,10
11,3.438841,9.345449,354.691794,2.324735,24.484839,11
12,80.604196,387.063241,100.439667,124.463840,534.565946,12
13,155.678618,36.942636,59.791930,69.131269,120.707475,13
15,230.130425,61.149304,119.115235,71.107019,0.071588,15
16,150.663043,486.215067,174.533879,166.784651,101.272615,16
17,466.641687,21.734359,233.473889,36.005338,15.010551,17
18,2.271171,229.796461,0.036417,0.195160,244.327305,18
19,1.270513,0.000014,307.691449,170.097374,114.148870,19
20,118.423858,86.645514,14.249555,36.302246,36.683437,20
22,85.710077,10.376086,12.239638,46.621062,184.419697,22
23,285.418051,1.130160,68.191331,50.142429,164.048430,23
24,24.794733,122.040566,5.869107,5.677022,134.698206,24
25,220.373520,31.766678,1.608937,5.466972,26.105975,25
26,1.278647,5.048847,21.797782,43.683504,364.041452,26
27,113.662394,144.280955,133.610391,13.259450,42.302858,27
29,100.544497,32.980327,168.243299,260.035447,127.877936,29
30,59.460201,69.042517,3.908221,122.536088,4.601222,30

In [5]:
viewer = napari.Viewer()
viewer.add_image(sdata.images["blobs_image"], name="blobs_image")
viewer.add_labels(sdata.labels["blobs_labels"], name="blobs_labels")

# see https://hackmd.io/IOuBuY11QtS56dyrdH85aQ?view
# will make a copy of the dataframe
viewer.layers[1].features = df
napari.run()

Manually add some cluster labels in napari:

1. Notebooks should open napari window
2. Plugins > napari-cluster-plotter
3. Labels layer should have "blobs_labels" selected
4. Choose any 2 features in Axes from the AnnData dataframe in the layer.features
5. Draw on the plot to do some clustering
6. the labels are shown in the cluster_ids_in_space layer, and added ad
   MANUAL_CLUSTER_ID in the .features

Now we can add this new label column back to the AnnData object and use it for further analysis.

In [6]:
viewer.layers[1].features

,channel_0_sum,channel_1_sum,channel_2_sum,channel_3_sum,channel_4_sum,label
0,1309.369255,1587.864182,3125.119086,2101.869588,1615.338715,1
1,1535.995388,2104.444293,1442.676798,2181.476226,978.794226,2
2,855.965478,1020.109964,1484.683990,678.738628,145.714070,3
3,614.497990,477.878864,558.972428,769.811884,131.799004,4
4,212.404587,386.979736,725.867322,606.159633,855.782823,5
5,482.633650,306.519032,542.776444,411.027409,726.430507,6
6,518.004680,595.334537,1416.084755,414.136590,628.841543,8
7,258.186892,549.666148,140.929565,379.397136,106.881360,9
8,159.661750,181.778253,279.073745,289.026634,335.117587,10
9,3.438841,9.345449,354.691794,2.324735,24.484839,11
10,80.604196,387.063241,100.439667,124.463840,534.565946,12
11,155.678618,36.942636,59.791930,69.131269,120.707475,13
12,230.130425,61.149304,119.115235,71.107019,0.071588,15
13,150.663043,486.215067,174.533879,166.784651,101.272615,16
14,466.641687,21.734359,233.473889,36.005338,15.010551,17
15,2.271171,229.796461,0.036417,0.195160,244.327305,18
16,1.270513,0.000014,307.691449,170.097374,114.148870,19
17,118.423858,86.645514,14.249555,36.302246,36.683437,20
18,85.710077,10.376086,12.239638,46.621062,184.419697,22
19,285.418051,1.130160,68.191331,50.142429,164.048430,23
20,24.794733,122.040566,5.869107,5.677022,134.698206,24
21,220.373520,31.766678,1.608937,5.466972,26.105975,25
22,1.278647,5.048847,21.797782,43.683504,364.041452,26
23,113.662394,144.280955,133.610391,13.259450,42.302858,27
24,100.544497,32.980327,168.243299,260.035447,127.877936,29
25,59.460201,69.042517,3.908221,122.536088,4.601222,30

In [7]:
# find all new columns in df and add them as obs in adata
df = viewer.layers[1].features
for col in df.columns:
    if col not in adata.var_names:
        adata.obs[col] = df[col].values
adata.obs

    instance_id        region label
1             1  blobs_labels     1
2             2  blobs_labels     2
3             3  blobs_labels     3
4             4  blobs_labels     4
5             5  blobs_labels     5
6             6  blobs_labels     6
8             8  blobs_labels     8
9             9  blobs_labels     9
10           10  blobs_labels    10
11           11  blobs_labels    11
12           12  blobs_labels    12
13           13  blobs_labels    13
15           15  blobs_labels    15
16           16  blobs_labels    16
17           17  blobs_labels    17
18           18  blobs_labels    18
19           19  blobs_labels    19
20           20  blobs_labels    20
22           22  blobs_labels    22
23           23  blobs_labels    23
24           24  blobs_labels    24
25           25  blobs_labels    25
26           26  blobs_labels    26
27           27  blobs_labels    27
29           29  blobs_labels    29
30           30  blobs_labels    30

TODO:

- support adding layers with .features in the napari plugin after feature calculation
- support clustering model for cell clustering
- support clustering model for pixel clustering
- support flowsom model for clustering
- support interactive flowsom tree selection instead of scatter plot in plotting type